<%= turbo_stream.replace "match_#{@product_match.id}_supplier_#{@product_match_item.supplier_id}" do %>
  <td class="px-4 py-3" id="match_<%= @product_match.id %>_supplier_<%= @product_match_item.supplier_id %>">
    <%= render "aggregated_lists/supplier_cell",
               product_match: @product_match,
               supplier: @supplier,
               item: @product_match_item.supplier_list_item,
               pmi: @product_match_item,
               available_items: @available_items %>
  </td>
<% end %>

<%# Remove any duplicate rows that were cleaned up %>
<% @removed_match_ids.each do |removed_id| %>
  <%= turbo_stream.remove "product_match_#{removed_id}" %>
<% end %>
